@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

body {
    background-color: antiquewhite;
}

* {
    margin: 0;
    padding: 0;

}

nav {
    width: 10vh;
    position: sticky;
    color: white;
    font-family: 'Ubuntu', 'sans-serif';
}

nav ul {
    display: flex;
    list-style-type: none;
    height: 50px;
    background-color: black;
    width: 100vw;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 0px 20px;
    font-size: 0.9;
    font-weight: 400;


}

.logo img {
    margin: 0px 10px;
    width: 40px;
    border-radius: 50%;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 500;
}

.logoName {
    margin-right: 10px;
    font-size: 1.3rem;
}

.search input {
    text-decoration: none;
    margin-left: 55vw;
    width: 15vw;
    border: solid 1px white;
    border-radius: 15px;
    background-color: transparent;
    color: white;
    font-size: 0.9;
    padding: 6px;
}

/* container-styling */

.container {
    display: flex;
}

.songsList {
    font-family: 'ubuntu', sans-serif;
    color: white;
    background-color: rgb(31, 30, 30);
    width: 0%;
    height: 75vh;
    transition: 0.3s step-start;
}

.Player {
    transition: 0.3s ease-in;
    background-color: rgb(31, 30, 30);
    height: 75vh;
    width: 100%;
}

.containertitle {
    display: inline-block;
    justify-content: center;
    padding-top: 10px;
    padding-left: 25px;
}


#menu-btn {
    position: absolute;
    right: 80vw;
    cursor: pointer;
    visibility: hidden;

}

#menu-btn:hover {
    color: rgb(226, 69, 200);
}

#menu-bar:hover {
    color: rgb(226, 69, 200);
}

.MainTab {
    /* background-image: url(images/bg.jpg); */
    /* background-size: cover; */
    display: flex;
    height: 85%;
    width: 65%;
    border-radius: 15px;
    margin: auto;
}

.MainTab img {
    border-radius: 15px;
    width: 100%;
    height: 100%;
}

.footer {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
    font-size: 0.9rem;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    height: 16vh;

}

#songName {
    padding: 3px;
    text-align: center;
}

.play {
    color: white;
}

#progress {
    padding: 3px 0px;
    width: 60vw;
    cursor: pointer;
}

#main-play-btn {
    padding: 0px 15px;
}

#menu-bar {
    padding: 4px 5px;
    color: white;
}

.song-item img {
    width: 35px;
    border-radius: 50%;
    margin: 0px 20px;
}

.song-item span {
    margin-left: 10px;
}

.song-item {
    align-items: center;
}

.song-item i {
    margin-left: 25px;
    cursor: pointer;
}

.icons i {
    cursor: pointer;
}

.songListItems {
    font-family: 'ubuntu', sans-serif;
    color: white;
    margin: 15px 0px;
    overflow: hidden;
    height: 0px;
}

.song-item {
    width: 90%;
    padding: 3px 0px;
    display: flex;
    align-items: center;
    margin: 5px 0px;
    border-radius: 25px;
    background-color: rgb(63, 62, 62);
}

.title {
    cursor: pointer;
}

.title:hover {
    color: rgb(226, 69, 200);
}

#menu-bar {
    cursor: pointer;
}



/* Responsive code for mobile version */
@media screen and (max-width:400px) {

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #songListItems {
        height: 50vh;
        transition: none;
    }

    .song-item {
        margin-left: 20px;
    }

    nav ul li a {
        display: none;
    }

    .search input {
        display: none;
    }

    .logo {
        display: flex;
        align-items: center;
        font-weight: 500;
    }

    .logo img {
        margin: 0px 10px;
        width: 33px;
        border-radius: 50%;
    }

    .logoName {

        margin-left: 75px;
        font-size: 1rem;
    }

    .title {
        font-size: medium;
    }

    .song-item img {
        width: 27px;
        border-radius: 50%;
        margin: 0px 20px;
    }

    .containertitle {
        display: inline-block;
        padding-left: 15vh;
    }
    .song-item{
        padding: 5px 0px;
    }
}